<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lists </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    provisional first Year
    <div>
        <ul>
         {% for i in data %}
            <li><a href="{{ i.p1.url }}" target="_blank">P1</a></li>
         {% endfor %}
     </ul>
   </div>
</body>
</html>
